
.custom-btn {
    background-color: #460303!important;
    padding: 10px 20px;
    transition: background-color 0.3s ease!important; 
  }
  
  .custom-btn:hover {
    background-color: #5d0404!important; 
  }
  